@{
    ViewData["Title"] = "Bind StudentLearningPlan";
}
<div class="text-center">
    <h2 class="display-4">Привязка планов обучений к студенту</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Студент:</div>
        <div class="col-8">
            <select id="studentId" name="studentId" class="form-control" asp-items="@(new SelectList(@ViewBag.Students,"GradebookNumber", "Name"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Доступные планы обучения:</div>
        <div class="col-8">
            <select id="learningPlansId" name="learningPlansId" class="form-control" asp-items="@(new SelectList(@ViewBag.LearningPlans,"Id", "StreamName"))" multiple="multiple" ></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <input type="submit" value="Создать" class="btn btn-primary" />
        </div>
    </div>
</form>