@{
	ViewData["Title"] = "Index";
}
<div class="text-center">
	<h2 class="display-4">Добро пожаловать!</h2>
	<img src =  "https://sun9-51.userapi.com/s/v1/ig2/lxOa5s6RaJdPjsOttHRF21kxhB0aqL9Eh1VFR3q8F7cIdZ2K8CWWr8xqWRS1Sk2xkuL_CLBQ03SfrSCAXSkphYWw.jpg?size=2388x1668&quality=96&type=album" 
				height="700" width="1400"/>
</div>