@{
    ViewData["Title"] = "Create LearningPlan";
}
<div class="text-center">
    <h2 class="display-4">Создание плана обучения</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Название потока:</div>
        <div class="col-8"><input type="text" name="streamName" id="streamName"/></div>
    </div>
    <div class="row">
        <div class="col-4">Количество часов:</div>
        <div class="col-8"><input type="text" name="hours" id="hours"/></div>
    </div>
    <div class="row">
        <div class="col-4">Преподаватели:</div>
        <div class="col-8">
            <select id="teachersId" name="teachersId" class="form-control" asp-items="@(new SelectList(@ViewBag.Teachers,"Id", "Name"))" multiple = "multiple"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <input type="submit" value="Создать" class="btn btn-primary" />
        </div>
    </div>
</form>