@{
    ViewData["Title"] = "Update Student";
}
<div class="text-center">
    <h2 class="display-4">Изменение студента</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">ФИО:</div>
        <div class="col-8"><input type="text" name="name" id="name" value="@ViewBag.Student.Name" /></div>
    </div>
    @*<table class="table">
        <thead>
            <tr>
                <th>
                    Планы обучения
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Student.LearningPlanStudents)
            {
                <tr>
                    <td>
                        @item.Value.Item1
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
        </div>
    </div>
</form>