@{
    ViewData["Title"] = "Create Student";
}
<div class="text-center">
    <h2 class="display-4">Создание студента</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">ФИО:</div>
        <div class="col-8"><input type="text" name="name" id="name"/></div>
    </div>
    <div class="row">
        <div class="col-4">Название потока:</div>
        <div class="col-8"><input type="text" name="streamName" id="streamName"/></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <input type="submit" value="Создать" class="btn btn-outline-dark" />
        </div>
    </div>
</form>